@media screen and (max-width: 600px) {
    nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }
    #pricing{
        flex-direction: column;
        align-items: center;
    }
    body{
        margin-left:auto;
        margin-right:auto;
         }
    iframe{
         width:100vw;}
}

@media screen and (max-width: 700px) {
    ul{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }
    li{
        margin: 0 auto;
    }
    nav{
        margin-top: 20px;
    }
    #footer ul{
        flex-direction: row;
    }
}

@media screen and (max-width: 600px) {
    .grid{
        text-align: center;
    }
    #icon .icon{
        display: none;
    }

    header{
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }

    .container{
        padding-top: 30px;
        display:block;
        align-content:center;
    }

    nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }
    ul{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }
    li{
        margin: 0 auto;
    }
    nav{
        margin-top: 20px;
    }
}
